
    <footer class="container-fluid text-center">
    <hr />
        <small>Copyright © 1993-2018 Exceptional Design Enterprises</small>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
