<%- include("./shared/header") %>
    <main class="container">
        <div class="jumbotron mt-3">
            <section class="row">
                <div class="col-sm-12 col-lg-8">
                    <h1 class="display-3">ADMINISTRATION</h1>
                    <p class="lead">
                        A website dedicated to the administraion of Airline data.
                    </p>
                </div>
                <div class="col-small-12 col-lg text-center">
                    <h1 class="display-3">1.0.0</h1>
                    <p class="text-muted">Version</p>
                </div>
            </section>
        </div>
            <section class="row">
                <div class="col-sm-12 col-md">
                    <h1>American Airlines</h1>
                    <p>
                        View the monthly bid data, import history &amp; download statistics.
                    </p>
                    <a href="american-airlines/bidtypes" class="btn btn-outline-dark">View</a>
                </div>
                <div class="col-sm-12 col-md">
                    <h1>Alaska Airlines</h1>
                    <p>
                        View the monthly bid data, import history &amp; download statistics.
                    </p>
                    <a href="alaska-airlines/bidtypes" class="btn btn-outline-dark">View</a>
                </div>
            </section>
            <section class="row mt-4">
                <div class="col-sm-12 col-md">
                    <h1>Jetsuite</h1>
                    <p>
                        View the monthly bid data, import history &amp; download statistics.
                    </p>
                    <a href="jetsuite/bidtypes" class="btn btn-outline-dark">View</a>
                </div>
                <div class="col-sm-12 col-md">
                    <h1>UPS</h1>
                    <p>
                        View the monthly bid data, import history &amp; download statistics.
                    </p>
                    <a href="ups/bidtypes" class="btn btn-outline-dark">View</a>
                </div>
            </section>
    </main>

    <%- include("./shared/footer") %>